<h1>Laporan Absensi</h1>
<table>
    <thead>
        <tr>
            <th>Mata Kuliah</th>
            <th>Tanggal</th>
            <th>NIM</th>
            <th>Nama</th>
            <th>Status</th>
            <th>Gambar</th>
        </tr>
    </thead>
    <tbody>
        {% for record in attendance_list %}
        <tr>
            <td>{{ record['mata_kuliah'] }}</td>
            <td>{{ record['tanggal'] }}</td>
            <td>{{ record['nim'] }}</td>
            <td>{{ record['name'] }}</td>
            <td>{{ record['status'] }}</td>
            <td>
                <img src="{{ record['image_url'] }}" alt="Gambar Kehadiran" width="100">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
